[submodule "oh-my-zsh-custom/plugins/gitstatus"]
	path = oh-my-zsh-custom/plugins/gitstatus
	url = git://github.com/romkatv/gitstatus.git
[submodule "oh-my-zsh-custom/plugins/zsh-autosuggestions"]
	path = oh-my-zsh-custom/plugins/zsh-autosuggestions
	url = git://github.com/zsh-users/zsh-autosuggestions.git
[submodule "oh-my-zsh-custom/themes/powerlevel10k"]
	path = oh-my-zsh-custom/themes/powerlevel10k
	url = git://github.com/romkatv/powerlevel10k.git
